<h3>Home</h3>
<!-- Header -->
<header>
    <nav class="nav-header">
        <a ui-sref="friend-search"><img src="/images/Icons/Search.svg"></a>
        <a ui-sref="landing" class="devmt-branding">
            <h1 class="devmt-branding">DevMountain</h1>
        </a>
        <img src="/images/Icons/Ham.svg">
    </nav>
</header>

    <main class="main-container">
        <!-- Left Side of Initial View Page - Input Form -->
        <section class="left-side">
            <div>
                <p>Welcome to
                    <span class="devblue">DevMountain</span>
                    Social<br>
                    Add Some Info So Friends Can Find You</p>
            </div>
            <div>
                <form>
                    <input type="text" placeholder="Full Name"><br>
                    <input type="text" placeholder="Tagline"><br>
                    <input type="text" placeholder="Profile Image Url"><br>
                    <textarea rows="15" cols="50" placeholder="Bio"></textarea><br>
                    <button>
                        Save Changes
                    </button>
                </form>
            </div>
        </section>

        <!-- Right Side of Initial View Page - Image -->
        <div class="right-side">
            <div class="triangle-background"></div>
            <div class="triangle-foreground"></div>
        </div>
    </main>
