<!-- Header -->
<header class="header">
    <img src="/images/Icons/Search.svg">
    <h1>DevMountain</h1>
    <img src="/images/Icons/Ham.svg">
</header>

<main class="main-wrapper">
    <div class="main-container">
        <!-- Left Side of Initial View Page - Input Form -->
        <section class="left-side">
            <div>
                <p>Welcome to
                    <span class="devblue">DevMountain</span>
                    Social<br>
                    Add Some Info So Friends Can Find You</p>
            </div>
            <div>
                <form>
                    <input type="text" placeholder="Full Name"><br>
                    <input type="text" placeholder="Tagline"><br>
                    <input type="text" placeholder="Profile Image Url"><br>
                    <textarea rows="15" cols="50" placeholder="Bio"></textarea><br>
                    <button>
                        Save Changes
                    </button>
                </form>
            </div>
        </section>
        <!-- Right Side of Initial View Page - Image -->
        <div class="right-side">
            <div class="triangle-background"></div>
            <div class="triangle-foreground"></div>
        </div>
    </div>
</main>

<!-- Footer -->
<footer>
    <ul>
        <li>View Friends</li>
        <li>Find Friends</li>
        <li>Update Profile</li>
    </ul>
</footer>