<!-- <h3>LANDING PAGE</h3> -->

<div class="main-container">
    <div class="profile-wrapper">
        <!-- Text Section -->
        <h1 class="profile-firstname profile-lastname">{{currentUser.name}}</h1>
        <h1 class="profile-lastname"></h1>
        <h3 class="profile-tag">{{currentUser.tagline}}</h3>
        <div class="text-bio">
            <p class="bio-paragraph">{{currentUser.bio}}</p>
        </div>
    </div>

    <!-- Triangles on the right -->
    <section class="right-side">
        <div class="triangle-background"></div>
        <div class="triangle-foreground"></div>
    </section>

</div>
