<!-- <h3>FRIENDS VIEW</h3> -->

<div class="main-container">
    <div class="profile-wrapper">
        <!-- Text Section -->
        <h1 class="profile-firstname">{{userProfile.name}}</h1>
        <h1 class="profile-lastname"></h1>
        <h3 class="profile-tag">{{userProfile.tagline | uppercase}}</h3>
        <div class="text-bio">
            <p>{{userProfile.bio}}</p>
        </div>
    </div>

    <!-- Friends List -->

    <div class="friend-profiles">
        <nav class="title-header">
            <select class="sort">ASCENDING</select>
            <h4>Friends</h4>
            <a ui-sref="friend-search"><img src="/images/Icons/Search.svg"></a>
        </nav>

        <div class="friends-list">

            <img src="https://images.unsplash.com/photo-1473532963358-2b9525eaa085?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb" alt="" class="friend-profilePic">


            <img src="https://images.unsplash.com/photo-1473532963358-2b9525eaa085?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb" alt="" class="friend-profilePic">


            <img src="https://images.unsplash.com/photo-1473532963358-2b9525eaa085?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb" alt="" class="friend-profilePic">


            <img src="https://images.unsplash.com/photo-1473532963358-2b9525eaa085?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb" alt="" class="friend-profilePic">


            <img src="https://images.unsplash.com/photo-1473532963358-2b9525eaa085?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb" alt="" class="friend-profilePic">


            <img src="https://images.unsplash.com/photo-1473532963358-2b9525eaa085?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb" alt="" class="friend-profilePic">
    </div>

</div>
