<!-- <h3>SEARCH FOR NEW FRIENDS</h3> -->

<div class="main-container">
    <div class="profile-wrapper">
        <!-- Text Section -->
        <h1 class="profile-firstname">{{userProfile.name}}</h1>
        <h1 class="profile-lastname"></h1>
        <h3 class="profile-tag">{{userProfile.tagline}}</h3>
        <div class="text-bio">
            <p>{{userProfile.bio}}</p>
        </div>
    </div>

    <div class="friend-profiles">
        <nav class="title-header">
            <a ui-sref="friend-search"><img src="/images/Icons/Search.svg"></a>
            <input class="search-friends" type="text" placeholder="Search For Friends" onfocus="this.placeholder=''" onblur="this.placeholder = 'Search For Friends'">
        </nav>

        <div class="friends-list">

        <div ng-repeat="results in userResults" class="picture-wrapper">
            <img ng-src="{{results.profileUrl}}" class="friend-profilePic">
            <div class="box">
              <div class="overlay">
                <p class="overlay-text">{{results.name}}</p>
                <a class="view-proflink" ng-click="viewPotentialFriend(results, $event)">View Profile</a>
              </div>
            </div>
        </div>
      </div>
    </div>
