<!-- <h3>FRIENDS VIEW</h3> -->

<div class="main-container">
    <div class="profile-wrapper">
        <!-- Text Section -->
        <h1 class="profile-firstname">{{currentUser.name}}</h1>
        <h1 class="profile-lastname"></h1>
        <h3 class="profile-tag">{{currentUser.tagline}}</h3>
        <div class="text-bio">
            <p>{{currentUser.bio}}</p>
        </div>
    </div>

    <!-- Friends List -->

    <div class="friend-profiles">
        <nav class="title-header">
            <select class="sort">ASCENDING</select>
            <h4>Friends</h4>
            <a ui-sref="friend-search"><img src="/images/Icons/Search.svg"></a>
        </nav>

        <div class="friends-list">

        <div ng-repeat="friend in userFriends" ui-sref="friend-profile({id:friend.id})" class="picture-wrapper">
            <img ng-src="{{friend.profileUrl}}" class="friend-profilePic">
            <div class="box">
              <div class="overlay">
                <p class="overlay-text">{{friend.name}}</p>
                <a class="view-proflink">View Profile</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
