<!-- <h3>FRIEND PROFILE VIEW</h3> -->

<div class="main-container">
    <div class="profile-wrapper">
        <!-- Text Section -->
        <h1 class="profile-firstname">Sally</h1>
        <h1 class="profile-lastname">Rally</h1>
        <h3 class="profile-tag">SOME AWESOME TAGLINE ABOUT YOU</h3>
        <div class="text-bio">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac magna non augue porttitor scelerisque ac id diam. Mauris elit velit, lobortis sed interdum at, vestibulum vitae libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Quisque iaculis ligula ut ipsum mattis viverra. Nulla a libero metus. Integer gravida tempor metus eget condimentum. Integer eget iaculis tortor. Nunc sed ligula sed augue rutrum ultrices eget nec odio. Morbi rhoncus, sem laoreet tempus pulvinar, leo
                diam varius nisi, sed accumsan ligula urna sed felis.</p>
            <p>
                Mauris molestie augue sed nunc adipiscing et pharetra ligula suscipit. In euismod lectus ac sapien fringilla ut eleifend lacus venenatis.Etiam feugiat dolor ac elit suscipit in elementum orci fringilla. Aliquam in felis eros. Praesent hendrerit
                lectus sit amet turpis tempus hendrerit. Donec laoreet volutpat molestie.
            </p>
        </div>
    </div>

    <!-- Add Friend Button -->

    

    <!-- Triangles on the right -->
    <section class="right-side">
        <div class="triangle-background"></div>
        <div class="triangle-foreground"></div>
    </section>

</div>
