<!-- <h3>HOME</h3> -->

<!-- Header -->
<!-- <header>
    <nav class="nav-header">
        <a ui-sref="friend-search"><img src="/images/Icons/Search.svg" class="search-icon"></a>
        <a ui-sref="landing" class="devmt-branding">
            <h1 class="devmt-branding">DevMountain</h1>
        </a>
        <img src="/images/Icons/Ham.svg">
    </nav>
</header> -->

<!-- Body -->
<main class="main-container">
    <!-- Left Side of Initial View Page - Input Form -->
    <section class="left-side">
        <div>
            <p>Welcome to
                <span class="devblue">DevMountain</span>
                Social<br>
                Add Some Info So Friends Can Find You</p>
        </div>
        <div>
            <form class="form-home">
                <input type="text"
                placeholder="Full Name"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Full Name'"
                ng-model="userFullName">

                <input type="text"
                placeholder="Tagline"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Tagline'"
                ng-model="userTagline">

                <input type="text"
                placeholder="Profile Image Url"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Profile Image Url'"
                ng-model="userProfileImageUrl">

                <textarea rows="15" cols="50"
                placeholder="Bio"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Bio'"
                ng-model="userBio"></textarea>

                <button ng-click="InitialUserSave(
                {
                  'name': userFullName,
                  'tagline': userTagline,
                  'profileUrl': userProfileImageUrl,
                  'bio': userBio
                }
                  $event
                )">
                    Save Changes
                </button>
            </form>
        </div>
    </section>

    <!-- Right Side of Initial View Page - Image -->
    <section class="right-side">
        <div class="triangle-background"></div>
        <div class="triangle-foreground"></div>
    </section>
</main>
