<!-- <h3>HOME</h3> -->


<!-- Body -->
<main class="main-container">
    <!-- Left Side of Initial View Page - Input Form -->
    <section class="left-side">
        <div>
            <p>Welcome to
                <span class="devblue">DevMountain</span>
                Social<br>
                Add Some Info So Friends Can Find You</p>
        </div>
        <div>
            <form class="form-home">
                <input type="text"
                ng-model="userFullName"
                placeholder="Full Name"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Full Name'">

                <input type="text"
                ng-model="userTagline"
                placeholder="Tagline"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Tagline'">

                <input type="text"
                ng-model="userProfileImageUrl"
                placeholder="Profile Image Url"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Profile Image Url'">

                <textarea rows="15" cols="50"
                ng-model="userBio"
                placeholder="Bio"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Bio'">
                </textarea>

                <button ng-click="createUser(
						    {'name': userFullName,
                 'tagline': userTagline,
							   'profileUrl': userProfileImageUrl,
							   'bio': userBio
						    },
                $event)">
                    Save Changes
                </button>
            </form>
        </div>
    </section>

    <!-- Right Side of Initial View Page - Image -->
    <section class="right-side">
        <div class="triangle-background"></div>
        <div class="triangle-foreground"></div>
    </section>
</main>
