<!-- <h3>UPDATE PROFILE</h3> -->

<div class="main-container">
    <div class="profile-wrapper">
        <!-- Text Section -->
        <h1 class="profile-firstname profile-lastname">{{name}}</h1>
        <!-- <h1 class="profile-lastname"></h1> -->
        <h3 class="profile-tag">{{tagline | uppercase}}</h3>
        <div class="text-bio">
            <p>{{bio}}</p>
        </div>
    </div>

    <div class="profile-update">
        <div class="form-header">Profile Settings</div>

        <div class="form-update">
            <div class="form-inputs">
                <input ng-model="$root.name" type="text" name="name" value="" placeholder="Full Name">
                <input ng-model="$root.tagline" type="text" name="name" value="" placeholder="Tagline">
                <input ng-model="$root.imgUrl" type="text" name="name" value="" placeholder="Profile Img Url">
                <textarea ng-model="$root.bio" name="name" placeholder="Bio"></textarea>
            </div>
        </div>

        <button ng-click="save()" ng-disabled="!name || !tagline || !imgUrl || !bio" class="form-button">Save Changes</button>
    </div>
</div>
