<!-- <h3>UPDATE PROFILE</h3> -->

<div class="main-container">
    <div class="profile-wrapper">
        <!-- Text Section -->
        <h1 class="profile-firstname profile-lastname">{{currentUser.name}}</h1>
        <!-- <h1 class="profile-lastname"></h1> -->
        <h3 class="profile-tag">{{currentUser.tagline | uppercase}}</h3>
        <div class="text-bio">
            <p>{{currentUser.bio}}</p>
        </div>
    </div>

    <div class="profile-update">
        <div class="form-header">Profile Settings</div>

        <div class="form-update">
            <div class="form-inputs">
                <input ng-model="newUser.name" type="text" name="name" value="" placeholder="Full Name">
                <input ng-model="newUser.tagline" type="text" name="name" value="" placeholder="Tagline">
                <input ng-model="newUser.profileUrl" type="text" name="name" value="" placeholder="Profile Img Url">
                <textarea ng-model="newUser.bio" name="name" placeholder="Bio"></textarea>
            </div>
        </div>

        <button class="form-button" ng-click="createUser(newUser)">Save Changes</button>
    </div>
</div>
