<!-- <h3>UPDATE PROFILE</h3> -->

<div class="main-container">
    <div class="profile-wrapper">
        <!-- Text Section -->
        <h1 class="profile-firstname profile-lastname">{{userProfile.name}}</h1>
        <!-- <h1 class="profile-lastname"></h1> -->
        <h3 class="profile-tag">{{userProfile.tagline | uppercase}}</h3>
        <div class="text-bio">
            <p>{{userProfile.bio}}</p>
        </div>
    </div>

    <div class="profile-update">
        <div class="form-header">Profile Settings</div>

        <div class="form-update">
            <div class="form-inputs">
                <input ng-model="nameUpdate" type="text" name="name" value="" placeholder="Full Name">
                <input ng-model="taglineUpdate" type="text" name="name" value="" placeholder="Tagline">
                <input ng-model="profileUrlUpdate" type="text" name="name" value="" placeholder="Profile Img Url">
                <textarea ng-model="bioUpdate" name="name" placeholder="Bio"></textarea>
            </div>
        </div>

        <button class="form-button" ng-click="updateProfile(
						{
								'name': nameUpdate
							,	'tagline': taglineUpdate
							, 'profileUrl': profileUrlUpdate
							, 'bio': bioUpdate
						}
						, $event
					)">Save Changes</button>
    </div>
</div>
