*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0 auto;
}

h3{
  text-align: center;
  font-family: "Lora", serif;
  font-size: 20px;
}


/*/////Styles for Header and Footer/////*/
header {
  width: 100%;
  padding: 0 30px;
  font-family: "Lora", serif;
}

.search-icon {
  height: 20px;

}

.devmt-branding {
  color: #383737;
  text-decoration: none;
}


.nav-header {
  margin-bottom: 50px;
  border-bottom: solid 1px #EEEDED;
  display: flex;
  justify-content: space-between;
}

footer {
  width: 100%;
  margin-top: 150px;
  padding: 0 60px;
  font-family: "Lora", serif;
}

footer .footer-link {
  text-decoration: none;
  color: #ABABAB;
}

.footer-link:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.footer-link:hover:after {
  width: 100%;
  background: #00FFE9;
}

.footer-link.active:after {
  width: 100%;
  background: #00FFE9;
}

/*This is a thinner line if wanted*/
/*a.active:after {
  width: 100%;
  border-bottom: 1px solid #00FFE9;
}*/

.nav-footer {
  padding: 0;
  border-top: solid 2px #DEDEDE;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 15px;
}


/*/////Styles for Home Page/////*/

.main-container {
  display: flex;
  justify-content: space-between;
  width: 665px;
  margin: 0 auto;
}

.devblue {
  color: #00FFE9;
}

.left-side {
  width: 50%;
  font-family: "Lora", serif;
  font-size: 16px;
}

.left-side p {
  text-align: center;
  line-height: 1.25;
}

.form-home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.left-side input {
  width: 100%;
  padding-left: 5px;
  outline: none;
  margin-bottom: 5px;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  font-size: 16px;
}

.left-side textarea {
  width: 100%;
  height: 200px;
  resize: none;
  outline: none;
  border: 1px solid #DEDEDE;
  overflow: auto;
  font-size: 16px;
}

.left-side button {
  width: 98%;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: #A9A9A9;
  background-color: #85FDF3;
  border-radius: 2px;
  border: none;
}

/*/////Triangle on the Home Page/////*/
.right-side {
  position: relative;
  width: 335px;
  padding-left: 40px;
}

.triangle-background {
  width: 375px;
  padding-bottom: 265.16px;
  position: relative;
  overflow: hidden;
  transform-origin: 0 100%;
  transform: rotate(7deg);
}

.triangle-background:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(229, 227, 228, 0.85), rgba(229, 227, 228, 0.85)), url("/images/apartments.jpeg");
  background-size: cover;
  background-position: center top;
  transform-origin: 0 100%;
  transform: rotate(60deg) skewX(30deg);
}

.triangle-foreground {
  position: absolute;
  top: 100px;
  left: 75px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 150px 259.8px 150px;
  border-color: transparent transparent #85FDF3 transparent;
  transform: rotate(50deg);
  filter: drop-shadow(1px 1px 2px #BBB);
}



/*////Styles for Update Profile Page////*/

.ipsum-wrapper {
  display: flex;
    justify-content: space-between;
    width: 665px;
    margin: 0 auto;
}

.ipsum-container {
  width: 50%;
  text-align: justify;
  font-family: "Lora", serif;
}

.ipsum-text {
  line-height: 1.4;
  font-size: 13px;
}

.right-side-updateForm {
  width: 50%;
  padding-left: 40px;
  font-family: "Lora", serif;
}

.update-form input {
  width: 100%;
  padding-left: 5px;
  outline: none;
  margin-bottom: 5px;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  font-size: 16px;
}

.update-form textarea {
  width: 100%;
  height: 200px;
  resize: none;
  outline: none;
  border: 1px solid #DEDEDE;
  overflow: auto;
  font-size: 16px;
}

.update-form button {
  width: 98%;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: #A9A9A9;
  background-color: #85FDF3;
  border-radius: 2px;
  border: none;
}


/*////Styles for Friend Profile Page////*/





/*/////Styles for Friends Page////*/




/*/////Styles for Friends Search Page/////*/
